<h1 class="page-header">Employees</h1>
<h3>Exercise 1:</h3>
<div class="row">
	<div class="col-md-12 employee" ng-repeat="employee in employees">
		<div>{{employee.firstName}}</div>
		<div>{{employee.lastName}}  DOB: {{employee.dob * 1000  | date:'yyyy-MM-dd'}}</div>
	</div>
</div>

<h3>Exercise 2:</h3>
<div class="row">
	<div class="col-md-12 employee" ng-repeat="employee in employees">
		<div>{{employee.firstName}} {{employee.lastName}} - Age: {{ employee.dob  | ageFilter }}</div>
	</div>
</div>

<h3>Exercise 3:</h3>
<employee-list employee-data="employees"></employee-list>
